.category {
    display: grid;
    grid-template-columns: 25% 75%;
    gap: 40px;
}


.product_by_cat{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
}
@media only screen and (max-width: 1020px) {
    .category{
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 550px) {
    .product_by_cat{
        grid-template-columns: 1fr;
    }
}